.app {
  /* background-color: #030e26; */
  background-color: #030e26;
  position: relative;
  display: flex;
  flex-direction: column;
}

.brickBg {
  background-image: url("../public/images/Brickbg.webp");
  background-position-x: 50%;
  background-position-y: 50%;
  background-repeat: no-repeat;
  position: absolute;
  inset: 0;
  height: 1000px;
}

.header {
  width: 100%;
  position: relative;
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.paddWrapper {
  position: relative;
  margin: 0px 20px;
  overflow-y: scroll;
}

.mainLogo {
  position: absolute;
  left: 0rem;
  top: 0rem;
  max-width: 325px;
}

.hamburger {
  width: 4.4rem;
  height: 4.4rem;
  object-fit: contain;
  position: absolute;
  position: fixed;
  top: 25px;
}

.burgerCta {
  padding: 2.2rem;
  position: absolute;
  right: 24px;
  top: 25px;
  background-color: transparent;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.pageHero {
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 48.4px;
  font-family: var(--hero-font);
  text-shadow: 0px 0px 10px var(--pink);
}

.pink {
  color: var(--pink);
  text-shadow: 0px 0px 5px var(--pink);
}

.subHero {
  color: white;
  text-shadow: 0px 0px 30px var(--pink);
  padding-top: 0.5rem;
}
.mainApp {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 5rem;
  z-index: 30;
  padding-bottom: 14rem;
}

.transition {
  position: absolute;
  height: 300px;
  bottom: 0%;
  width: 100%;
  background: #030e26;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgb(3, 14, 38)),
    to(rgba(0, 0, 0, 0))
  );
  background: linear-gradient(0deg, rgb(3, 14, 38) 0%, rgba(0, 0, 0, 0) 100%);
}

.green {
  color: rgb(0, 255, 0);
}

.activeArrow {
  color: white;
  position: relative;
  transform: rotate(270deg);
  font-size: 60px;
  margin: 2.5rem 0rem;
  color: PURPLE;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0px 0px 5px red;
}
