.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}

.navOverlay {
  width: 750px;
  height: 100vh;
  background-color: rgb(3, 14, 38);
  position: fixed;
  right: 0;
  z-index: 500;
  padding: 0px 12px;
  background: radial-gradient(circle, rgb(82, 10, 84) 0%, rgb(3, 14, 38) 50%);
}

.navOverlay::before {
  content: "";
  position: absolute;
  top: -110%;
  right: 0;
  bottom: 0;
  left: 0;
  background: #520a54;
  background: radial-gradient(circle, rgb(82, 10, 84) 0%, rgb(3, 14, 38) 50%);
  z-index: 2;
}

.topbar {
  padding: 0.5rem 0rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.closeCta {
  padding: 1.5rem;
  padding-right: 3.5rem;
  z-index: 5;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.closeX {
  height: 40px;
}

.innerLinks {
  padding-bottom: 16px;
  padding-left: 80px;
  padding-right: 16px;
  padding-top: 16px;
}

.links {
  margin-right: auto;
}
.backdrop {
  background-color: #02124d;
  opacity: 0.5;
  position: fixed;
  inset: 0;
}

.navLink {
  color: #fff;
  font-weight: 500;
  font-size: 2.2rem;
}
