.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}

.navOverlay {
  width: 750px;
  height: 100vh;
  background-color: rgb(3, 14, 38);
  position: fixed;
  right: 0;
  z-index: 500;
  padding: 0px 12px;
  background: radial-gradient(circle, rgb(82, 10, 84) 0%, rgb(3, 14, 38) 50%);
}

.navOverlay::before {
  content: "";
  position: absolute;
  top: -110%;
  right: 0;
  bottom: 0;
  left: 0;
  background: #520a54;
  background: radial-gradient(circle, rgb(82, 10, 84) 0%, rgb(3, 14, 38) 50%);
  z-index: 2;
}

.topbar {
  padding: 0.5rem 0rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.closeCta {
  padding: 1.5rem;
  padding-right: 3.5rem;
  z-index: 5;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.closeX {
  height: 40px;
}

.innerLinks {
  padding-bottom: 16px;
  padding-left: 80px;
  padding-right: 16px;
  padding-top: 16px;
}

.links {
  list-style: none !important;
  margin-right: auto;
}
.backdrop {
  background-color: #02124d;
  opacity: 0.5;
  position: fixed;
  inset: 0;
}

.navLink {
  color: #fff;
  font-weight: 500;
  font-size: 35.2px;
  z-index: 20;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 68.8px;
  font-weight: 600;
  border: 1px solid red;
}

.navLink:hover .arrowright {
  opacity: 1;
}

.active {
  padding-left: 64px;
  transition: all 0.3s ease-in-out;
}

.arrowright {
  color: rgb(255, 0, 184);
  font-size: 40px;
  transition: all 0.3s ease-in;
  position: absolute;
  left: 0;
  opacity: 0;
}

.anchor {
  transition: all 0.3s ease-in;
  color: white;
  position: relative;
}

.showArrow {
  opacity: 1 !important;
  pointer-events: none;
}
