.currentOveriew {
  position: fixed;
  bottom: 0rem;
  min-height: 4rem;
  width: 100%;
  background-color: black;
  z-index: 200;
  display: flex;
  justify-content: center;
  align-items: center;
}

.price {
  color: white;
  font-size: 18px;
  padding-left: 5px;
  font-weight: bold;
}

.boldWhite {
  color: white;
  font-weight: bold;
  font-size: 18px;
  padding-left: 5px;
}

.rgbExtra {
  background: linear-gradient(
    90deg,
    rgb(255, 0, 0),
    rgb(0, 255, 0),
    rgb(0, 0, 255)
  );
  -webkit-background-clip: text;
  color: transparent;
  font-size: 15px;
  font-weight: bold;
}

.rgbFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.white {
  color: white;
  font-weight: bold;
}

.nameList {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}

.priceList {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.achterPlaat {
  color: var(--green);
  font-weight: bold;
  font-size: 15px;
}

.greenName {
  color: var(--green);
  font-weight: bold;
  font-size: 18px;
}

.nameList span {
  height: 25px;
}
.priceList span {
  height: 25px;
}
